<span class="page-title"><%= @source.name %></span>

<p id="notice"><%= notice %></p>

<%= render 'articles/articles' %>

<%= link_to 'Edit', edit_source_path(@source) %> |
<%= link_to 'Back', sources_path %>
