<span class="page-title"><%= @article.source.name %></span>

<p id="notice"><%= notice %></p>

<article>
  <h2 class="title"><%= @article.title %></h2>
  <div class="content">
    <%= raw(@article.sanitized) %>
  </div>
  <div class="content">
    <%= raw(@article.original_html) %>
  </div>
  <div class="details">
    <%= link_to @article.source.name, @article.source, class: 'source' %>
    <%= link_to "Full Article →", @article.original_url, target: '_blank' if @article.original_url %>
  </div>

  <%= link_to 'Edit', edit_article_path(@article) %> |
  <%= link_to 'Back', articles_path %>
</article>